{% assign tags = include.tags %}
{% assign meta = include.meta %}
{% assign start_with = include.start_with %}
{% assign separator = include.separator %}
{% assign end_with = include.end_with %}

{% assign content = '' %}
{% if tags.size > 0 %}
  {% assign content = start_with %}
  {% for tag_slug in tags %}

    {% capture iter_separator %}{% if forloop.last %}{{ end_with }}{% else %}{{ separator }}{% endif %}{% endcapture %}

    {% assign tag = meta | where: "slug", tag_slug | first %}

    <!-- {% if tag %}
      {% capture content_temp %}{{ content }}<a href="{{ site.url }}" data-flip="title">{{ tag.title }}</a>{{ iter_separator }}{% endcapture %}
    {% else %} -->
      {% capture content_temp %}{{ content }}<a class="button" href="{{ site.url }}/categories#{{ tag_slug }}"><i class="fab fa-slack-hash fa-fw"></i> {{ tag_slug | capitalize }}</a>{{ iter_separator }}{% endcapture %}
    <!-- {% endif %} -->

    {% assign content = content_temp %}

  {% endfor %}

{% endif %}

{{ content }}


{% for tag in categories %}
  <a class="button" href="{{site.baseurl}}/categories#{{tag}}">
    <p><i class="fab fa-slack-hash fa-fw"></i> {{ tag }}</p>
  </a>
{% endfor %}
