---
---

// custom css

.no_toc {
  text-align: center;
}

#markdown-toc {
  font-size: 85%;
  border: 1px dashed;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  border-radius: 2rem;
  width: fit-content;
  margin: auto;
}

.related {
  width: 55%;
  float: left;
}

.ad-bottom-square {
  float: right;
  width: 42%;
  margin-top: 3em;
}

.rel-ad {
  display: inline-block;
  width: 100%
}

hr.dingbat {
  border: 0;
}

hr.dingbat::after {
  content: "\2756"; // ❖
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: #ddd;
}
