---
layout: page
---

<div class="home">

<!-- cycles through posts to get categories -->
{% assign rawcategories = "" %}
{% for post in site.posts %}
{% assign post_categories = post.categories | join:'|' | append:'|' %}
{% assign rawcategories = rawcategories | append:post_categories %}
{% endfor %}

<!-- cycles through portfolio collection to get categories -->
{% assign portfolio =  site.portfolio | map: 'categories' | join: ','  | split: ',' | uniq %}
{% for tag in portfolio %}
{% assign portfolio_categories = tag | join:'|' | append:'|' %}
{% assign rawcategories = rawcategories | append:portfolio_categories %}
{% endfor %}

<!-- cycles through pages to get categories -->
{% for page in site.pages %}
{% assign page_categories = page.categories | join:'|'  %}
{% assign rawcategories = rawcategories | append:page_categories %}
{% endfor %}

<!-- Displays the list of categories-->
{% include categories_list.html categories=rawcategories %}

    <!-- Displays the posts and pages that contains the tag-->
    <div class="posts">
        {% for tag in categories %}
        <h3 id="{{ tag | cgi_escape }}" class="tag-anchor">
            <a href="#{{ tag | cgi_escape }}"><i class="fab fa-slack-hash fa-fw"></i> {{ tag }}</a>
            <a href="#{{ page.title }}" style="float: right"><i class="fa fa-chevron-up" aria-hidden="true"> </i> </a>

        </h3>

        <!-- Posts and collection for each categories -->
        <div class="tag-posts">

            <!-- Pages -->
            {% for page in site.pages %}
                {% if page.categories contains tag %}
                <h5 class="tag-title">
                    <a href="{{ page.url | prepend: site.baseurl }}">
                        <i class="far fa-file-image" aria-hidden="true"></i>
                        {{ page.title }}
                    </a>

                    <div class="meta">
                        <i class="far fa-calendar-alt" aria-hidden="true"></i> {{ "today" | date: "%B %-d, %Y" }}
                    </div>
                </h5>
                {% endif %}
            {% endfor %}

            <!-- Posts -->
            {% for post in site.posts %}
                {% if post.categories contains tag %}
                <h5 class="tag-title">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <i class="far fa-file-alt" aria-hidden="true"></i>
                        {{ post.title }}
                    </a>

                    <div class="meta">
                        <i class="far fa-calendar-alt" aria-hidden="true"></i> {{ post.date | date: "%B %-d, %Y" }}
                    </div>
                </h5>
                {% endif %}
            {% endfor %}

            <!-- Portfolio -->
            {% for note in site.portfolio %}
                {% if note.categories contains tag %}
                <h5 class="tag-title">
                    <a href="{{ site.baseurl }}{{ note.url }}">
                        <i class="far fa-file" aria-hidden="true"></i>
                        {{ note.title }}
                    </a>

                    <div class="meta">
                        <i class="far fa-calendar-alt" aria-hidden="true"></i>  {{ note.date | date: "%B %-d, %Y" }}
                    </div>
                </h5>
                {% endif %}
            {% endfor %}

        </div>
        {% endfor %}

    </div>
</div>
