---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div id="main" class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
  </div>
  {% endif %}

  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
      {% if post.thumbnail %}
      <div class="post-img">
         <img src="{{ site.baseurl }}/assets/img/{{ post.thumbnail }}">
      </div>
      {% endif %}
      <span>
          <header>
            <h1>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h1>
            <p class="meta">
              {% capture tag_list %}{{ post.categories | join: "|"}}{% endcapture %}
              {% include categories_list_home.html categories=tag_list %}
            </p>

            <!-- info -->
            <p class="meta_time" style="float:right;">
            <i class="far fa-calendar-alt fa-fw" style="color: #ff4500;"></i>
              {{ post.date | date: "%b %-d, %Y" }}
              <br>
            <i class="far fa-clock fa-fw" style="color: #ff4500;"></i>
            {% assign words = post.content | number_of_words %}
            {% if words < 240 %} 1 min
            {% else %}
              {{ words | divided_by:120 }} mins
            {% endif %}
            <br>
            <i class="far fa-comment-alt fa-fw" style="color: #ff4500;"></i>
            <a class="comment_count" href="{{ site.url }}{{ post.url }}#disqus_thread"></a>
            <!-- <br>
            {% if post.update %}
            <i class="far fa-plus-square fa-fw" style="color: #ff4500;"></i>
              {{ post.update | date: "%b %-d, %Y" }}
            {% endif %} -->
            </p>




          </header>
          <div class="excerpt" style="width:70%">
            {{ post.excerpt }}
              <a class="continue_button" href="{{ post.url | prepend: site.baseurl }}">{{ site.theme_settings.str_continue_reading }}    <i class="fa fa-angle-right fa-lg"></i></a>
          </div>
      </span>
    </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_previous_page }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next_page }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
